# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Base de Datos
DB_PASSWORD=1234

# JWT y Seguridad
JWT_SECRET=un_secreto_muy_largo_y_soberanocd
JWT_REFRESH_SECRET=un_secreto_muy_largo_para_el_refresh

# Configuración de API
PORT=3000
NODE_ENV=development

# Seguridad de Auditoría SIS-UNETI
AUDIT_SALT=S4lt_S3cr3t_K3y_2026
AUDIT_VALIDATE_ON_START=true